
/**
 * @file
 * Base Rubik styles.
 */

/*******************************************************************************
 * General styles
 ******************************************************************************/
p:last-child {
  margin: 0;
}
hr {
  display: none;
}
/* Toggleables. */
.toggleable {
  display: none;
}
/* Generic. */
.page-content dl dd,
.page-content dl dl {
  margin-left: 20px;
  margin-bottom: 10px;
}
/* Console. */
div.messages {
  color: #036;
  background-color: #f8f8f8;
  padding: 9px 9px 9px 40px;
  border: 1px solid #ccc;
  margin: 0 0 10px;
}
table tr.warning th,
div.warning {
  color: #a84;
  background-color: #fff4c0;
}
table tr.error th,
div.error {
  color: #965;
  background-color: #ffe4e0;
}
table tr.ok th,
table tr.info th,
div.status {
  color: #687;
  background-color: #ecf8f4;
}
table tr.merge-down td {border-bottom: 0;}
table tr.merge-up td {border-top: 0;}
table td.status-description {
  padding: 3px 40px;
  font-size: .9em;
}
div.error   {
  border-color: #ffd4d0;
}
div.warning {
  border-color: #ffe4b0;
}
div.status  {
  border-color: #dce8e4;
}
/* Pagers. */
.pager {
  font-weight: normal;
  font-size: 11px;
}
.pager ul.pager-list {
  float: left;
}
.pager ul.pager-links {
  float: right;
}
/* General styles end */

/*******************************************************************************
 * Menus, lists
 ******************************************************************************/
.admin-block-description,
.help-items ul li,
.confirmation ul li,
.item-list ul li,
.prose .item-list li,
#page .menu li {
  float: none;
  display: block;
  padding: 5px 10px 4px;
  border-bottom: 1px solid #f4f4f4;
}
.admin-block-description,
.help-items ul li:last-child,
.confirmation ul li:last-child,
.item-list ul li:last-child,
.prose .item-list li:last-child,
#page .menu li:last-child {
  border-bottom: 0;
  padding-bottom: 5px;
}
.item-list ul.ui-tabs-nav li:last-child {
  padding-bottom: 0;
}
.admin-panel h3 span.icon,
.admin-list li a span.icon {
  position: absolute;
  left: 10px;
  top: 10px;
}
.admin-list-compact li a span.icon {
  top: 5px;
}
.admin-panel h3,
.node-type-list li,
.admin-list li {
  position: relative;
  padding: 10px 5px 9px 50px;
  margin: 0;
  min-height: 30px;
  border-bottom: 1px solid #e8e8e8;
}
.admin-panel h3 {
  background: #f4f4f4;
  line-height: 30px;
}
.admin-list-compact li {
  min-height: 20px;
}
.node-type-list li:last-child,
.admin-list li:last-child {
  border: 0;
}
/* Fix default spacing between the links displayed in "Operations" column. */
td ul.links.inline.operations li:not(:last-child) {
  padding: 0 10px 0 0;
  margin: 0 8px 0 0;
  border-right: 1px solid #DDD;
}
/* Menus, lists end */

/*******************************************************************************
 * Tables
 ******************************************************************************/
.tabledrag-toggle-weight-wrapper {
  float: right;
  font-size: 11px;
  margin-bottom: -30px;
  height: 20px;
  padding: 5px;
}
.tabledrag-toggle-weight-wrapper a {
  display: block;
  width: 20px;
  height: 20px;
  text-indent: -999px;
  overflow: hidden;
  background: url(../images/bleeds.png) -40px -120px no-repeat;
}
table {
  width: 100%;
  margin: 0 0 10px;
  background-color: #fff;
  border-collapse: collapse;
  border-color: #ddd;
  border-width: 1px;
  border-style: solid;
}
.fieldset table {
  margin: 0;
}
table td,
table th {
  vertical-align: top;
  border-width: 1px 0;
  border-style: solid;
  border-color: #ddd;
  padding: 5px;
}
table th {
  font-size: 11px;
  text-align: left;
  font-weight: normal;
  color: #666;
  background: #eee;
}
  table thead th {
    border-top-color: #ccc;
  }
table td.active {
  background: #e4f0f8;
}
table tr.odd td.active {
  background: #ecf8fc;
}
table tr.selected td.active,
table tr.selected td {
  background: #ffc;
  border-color: #eeb;
}
/* Block administration */
table tr.region td {
  background: #f8f8f8;
}
/* Hide tabledrag markers */
table tr.draggable span.tabledrag-changed {
  display: none;
}
table.field-multiple-table td {
  padding: 10px;
}
/* Stripe administrative tables */
.page-admin table tr.even,
.page-admin table tr.even td {
  background-color: #f9f9f9;
}
.page-admin table tr.odd,
.page-admin table tr.odd td {
  background-color: #fff;
}
.page-admin table tr:hover,
.page-admin table tr:hover td {
  background-color: #EEE;
}
/* Use Drupal's default colors for Available Updates page statuses */
.page-admin table tr.warning,
.page-admin table tr.warning td {
  background-color: #ffd;
  color: #020;
}
.page-admin table tr.ok,
.page-admin table tr.ok td {
  background-color: #dfd;
  color: #020;
}
.page-admin table tr.error,
.page-admin table tr.error td {
  background-color: #fcc;
  color: #020;
}
/* Overrides the striping with core classes for errors and warnings */
.page-admin table tr.error,
.page-admin table tr.error td {
  background: #FCC;
}
.page-admin table tr.warning,
.page-admin table tr.warning td {
  background: #FFD;
}
/* Tables end */

/*******************************************************************************
 * Forms
 ******************************************************************************/
.block,
.item-list,
.help-items ul,
.form-item,
.confirmation ul,
.admin-list,
.node-type-list,
.admin-panel {
  background: #fff;
  margin: 0 0 10px;

  border-width: 1px;
  border-style: solid;
  border-color: #ddd;
}
.form-item {
  position: relative;
  padding: 9px;
}
.form-wrapper {
  margin-bottom: 10px;
}
.media-widget.form-wrapper{
  padding-bottom: 10px;
}
.form-wrapper .form-wrapper a.button{
  margin-left: 10px;
}
.admin-list {
  margin: 0;
}
table .form-item,
table .item-list,
.block .form-item,
.block .item-list,
.admin-panel .item-list,
.admin-panel .admin-list,
.fieldset .form-item,
.fieldset .form-type-radio,
.fieldset .form-type-checkbox,
.form-item .form-item,
.form-item .form-type-radio,
.form.item .form-type-checkbox,
.form-checkboxes .form-type-checkbox,
.text-format-wrapper .fieldset .form-item {
  background: transparent;
  padding: 0;
  border: 0;
}
table .form-item,
table .item-list,
.block .item-list,
.admin-panel .item-list,
.admin-panel .admin-list,
.fieldset .form-type-radio,
.fieldset .form-type-checkbox,
.form-item .form-type-radio,
.form.item .form-type-checkbox,
.form-checkboxes .form-type-checkbox {
  margin-bottom: 0;
}
.text-format-wrapper .form-item {
  background: #fff;
  margin: 0 0 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #ddd;
  padding: 9px;
}
.form-item label {
  margin: 0;
  padding: 0;
  color: #666;
  font-weight: bold;
  font-size: 10px;
}
.form-item label.option {
  text-transform: none;
  font-size: 11px;
}
input.button-add {
  background-position: -801px 50%;
  padding-left: 25px;
}
input.button-add:active {
  background-position: -1201px 50%;
}
input.button-remove {
  background-position: -1601px 50%;
  padding-left: 25px;
}
input.button-remove:active {
  background-position: -2001px 50%;
}
.form-item label.option input {
  vertical-align: middle;
}
.page-content .password-description,
.page-content .password-strength,
.page-content .description,
.page-content .form-item .description {
  line-height: 15px;
  font-size: 11px;
  white-space: normal;
}
.admin-panel p.description {
  background: #eee;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #fff;
  line-height: 20px;
  font-size: 11px;
  padding: 4px 9px;
  margin: 0;
}
.fieldset .description {
  margin: 0 0 10px;
}
.page-content .form-item .description {
  position: absolute;
  bottom: 100%;
  right: -15px;
  z-index: 5;
  color: #687;
  background: url(../images/popup.png) 50% 100% no-repeat;
  border-top: 1px solid #d8e4e0;
  width: 240px;
  margin: 0 0 -15px;
  padding: 9px 10px 20px;
  display: none;
}
.page-content .form-item.form-type-checkbox .description {
  bottom: 150%;
}
.page-content .form-item:hover {
  z-index: 10;
  height: auto; /* Fix for flicker in IE7 */
}
.page-content .form-item:hover > .description {
  display: block;
}
.rubik-inline-field-descriptions .page-content .form-item .description {
  display: block;
  position: relative;
  background: none;
  margin: 0;
  padding: 0.25em 0 0.75em;
  border: none;
  right: 0;
  width: 100%;
  z-index: 0;
}
a.button,
input.form-submit,
.form-actions #edit-cancel {
  display: inline-block
}
a.button,
input.teaser-button,
input.form-submit,
.form-actions #edit-cancel {
  cursor: pointer;
  padding: 3px 10px;
  color: #333;
  font-size: 13px;
  text-align: center;
  font-weight: normal;
  border-width: 1px;
  border-style: solid;
  border-color: #ddd #ddd #ccc;
  background: #fff url(../images/buttons.png) -1px 50% no-repeat;
}
input.form-submit:hover,
a.button:hover,
.form-actions #edit-cancel:hover {
  border-color: #ace;
  -webkit-box-shadow: #ace 0 0 5px;
     -moz-box-shadow: #ace 0 0 5px;
          box-shadow: #ace 0 0 5px;
}
input.form-submit:active,
a.button:active,
.form-actions #edit-cancel:active {
  border-color: #666 #666 #555;
  background: #666 url(../images/buttons.png) -401px 50% no-repeat;
  color: #222;
  text-shadow: #999 0 1px 0;
}
input.button-yes,
a.button-yes {
  background-position: -2401px 50%;
  padding-left: 25px;
}
input.button-yes:active,
a.button-yes:active {
  background-position: -2801px 50%;
}
input.button-no,
a.button-no{
  background-position: -3201px 50%;
  padding-left: 25px;
}
input.button-no:active,
a.button-no:active{
  background-position: -3601px 50%;
}
input.button.launcher,
a.button.launcher {
  background-position: -4800px 50%;
  padding-left: 25px;
}
input.button.launcher:active,
a.button.launcher:active {
  background-position: -1200px 50%;
}
input.button.edit,
a.button.edit {
  background-position: -2400px 50%;
  padding-left: 25px;
}
input.button.edit:active,
a.button.edit:active {
  background-position: -2800px 50%;
}
input.button.remove,
a.button.remove {
  background-position: -3200px 50%;
  padding-left: 25px;
}
input.button.remove:active,
a.button.remove:active {
  background-position: -3600px 50%;
}
.media-widget a.button.remove {
  padding-top: 4px;
  padding-bottom: 4px;
}
.media-widget .preview {
  min-height: 35px;
}
select:not([multiple]).form-select {
  height: 28px;
}
input.form-autocomplete,
input.form-text,
input.form-file,
textarea.form-textarea,
select.form-select {
  padding: 3px;
  border-width: 1px;
  border-style: solid;
  border-color: #ddd;
  background: #fff;
  color: #666;
  max-width: 100%;
}
input.form-autocomplete:hover,
input.form-text:hover,
input.form-file:hover,
textarea.form-textarea:hover,
select.form-select:hover,
input.form-autocomplete:focus,
input.form-text:focus,
input.form-file:focus,
input.form-checkbox:focus,
input.form-radio:focus,
textarea.form-textarea:focus,
select.form-select:focus {
  color: #333;
  border-color: #ace;
  -webkit-box-shadow: #ace 0 0 5px;
     -moz-box-shadow: #ace 0 0 5px;
          box-shadow: #ace 0 0 5px;
}
input.fluid {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}
input.form-file {
  padding: 1px;
  margin-right: 3px;
}
html.js input.form-autocomplete {
  background-position: 100% 7px;
}
html.js input.throbbing {
  background-position: 100% -2px;
}
#search-block-form .form-wrapper.form-actions {
  background: none;
  border: none;
  padding: 0;
  margin-top: 0;
}
/* Fieldsets */
.fieldset,
.fieldset-title,
.fieldset-title a,
.fieldset-content {
  display: block;
}
.fieldset {
  margin: 0 0 10px;
  display: block;
  position: relative;
  min-height: 28px;
  border: 1px solid #CCCCCC;
}
fieldset legend {
  display: block;
  float: left;
  width: 100%;
  position: relative;
  z-index: 10;
}
.fieldset-content .fieldset {
  margin: 0;
}
.fieldset-content .fieldset + .fieldset,
.fieldset-content .fieldset + .form-wrapper {
  margin-top: 10px;
}
body.page-admin div.vertical-tabs .vertical-tabs-panes .vertical-tabs-pane fieldset {
  padding: 0;
}
.fieldset-legend {
  display: block;
}
.container-inline .fieldset-legend .fieldset-content,
.fieldset.titled > .fieldset-content {
  display: block;
  padding-top: 40px;
}
.item-list h3,
.block .block-title,
.fieldset-title,
.collapsible .fieldset-legend a {
  display: block;
  font-size: 11px;
  margin: 0;
  padding: 4px 9px 5px;
  color: #333;
  background: #f6f6f6;
}
.fieldset-legend,
.collapsible .fieldset-legend a {
  padding-bottom: 4px;
}
/* Explicit height for IE */
.collapsible .fieldset-legend a {
  height: 20px;
  padding-left: 28px;
}
.collapsible .fieldset-legend span.icon {
  position: absolute;
  left: 6px;
  top: 6px;
  background: url(../images/bleeds.png) -80px -120px no-repeat;
  width: 15px;
  height: 15px;
  display: block;
  cursor: pointer;
}
html.js .collapsed .fieldset-legend span.icon {
  background-position: -60px -120px;
}
.collapsed .fieldset-legend a {
  background: #eee;
  color: #484848;
}
.collapsed .fieldset-legend a:hover {
  color: #666;
}
.collapsible .fieldset-legend {
  padding: 0;
  background: transparent;
}
.collapsed .fieldset-legend a {
  padding-bottom: 4px;
}
.block .block-content,
.container-inline .fieldset-content,
.fieldset-content {
  padding: 10px 9px 9px;
  background: #fff;
}
html.js .collapsed .fieldset-content {
  display: none;
}
.fieldset .fieldset .fieldset-content {
  background: #fff;
}
/* Filter form */
.filter-wrapper {
  font-size: 11px;
  margin-top: -10px;
  border-top: none;
}
.text-format-wrapper .filter-wrapper {
  border-top: 1px solid #CCC;
  margin-top: 0;
}
.text-format-wrapper .filter-wrapper .form-type-select .filter-list {
  max-height: 22px;
}
.text-format-wrapper .filter-wrapper .form-type-select,
.text-format-wrapper .filter-wrapper .filter-guidelines {
  margin: 0;
  overflow: auto;
}
.filter-wrapper .fieldset-content,
.fieldset .fieldset.filter-wrapper .fieldset-content  {
  background: #f8f8f8;
  border-top: 0;
  padding: 5px 9px 4px;
}
.filter-wrapper .form-type-select {
  padding: 0;
}
.filter-wrapper .form-type-select * {
  float: left;
  margin-right: 5px;
}
.filter-wrapper select {
  padding: 0;
  font-size: 11px;
}
.filter-wrapper .filter-help {
  float: right;
  font-size: 11px;
  margin: 0;
  padding: 0;
}
.form-type-date-popup label {
  padding: 10px 10px 0 10px;
}
.form-type-date-popup .date-padding label {
  padding: 0;
}
.form-type-date-popup .date-padding {
  padding-top: 0;
}
/* Form containers. */
.container-inline div {
  display: inline;
  border: 0;
  padding: 0;
  background: transparent;
}
.container-inline {
  margin: 0 0 10px;
}
/* File uploads. */
.form-type-managed-file input[type="submit"].progress-disabled {
  float: none;
}
.form-type-managed-file .ajax-progress-throbber {
  margin-top: 5px;
}
/* Forms end */

/*******************************************************************************
 * Form layout: default
 ******************************************************************************/
.form-layout-default {
  background: url(../images/vrule.png) 65% 0% repeat-y;
}
.column-main {
  float: left;
  width: 65%;
}
.column-main .column-wrapper {
  padding-right: 10px;
}
.column-side {
  float: right;
  width: 34.99%;
}
.column-side .column-wrapper {
  padding-left: 10px;
}
.column-footer {
  clear: both;
}
.form-wrapper.form-actions {
  background: #eee;
  border: 1px solid #ddd;
  padding: 9px;
  margin-top: 10px;
  margin-bottom: 0;
}
form .form-actions.container-inline {
  background: transparent;
  border: 0;
  padding: 0;
}
.form-wrapper.form-actions input.form-submit,
.form-wrapper.form-actions a.button {
  margin-right: 5px;
}
.form-layout-default .column-main .column-wrapper > .form-actions {
  display: none;
}
.form-layout-default .column-side .form-actions {
  margin: 0 0 10px;
}
.form-layout-default .column-side .form-actions input.form-submit,
.form-layout-deafult .column-side .form-actions a.button {
  margin: 1px 5px 1px 0;
}
/* "Boxes" aka generic wrappers. */
.box-title {
  font-weight: normal;
  font-size: 10px;
  background: #eee;
  border: 1px solid #ddd;
  padding: 4px 9px;
  margin: 0 0 10px;
}
/* Form layout: default end */

/*******************************************************************************
 * System
 ******************************************************************************/
.admin .right {
  padding-left: 5px;
  float: right;
}
.admin .left {
  padding-right: 5px;
  float: left;
}
.admin .right,
.admin .left {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
  width: 50%;
  margin: 0;
}
/* admin/appearance */
.theme-selector {
  position: relative;
  padding: 9px 9px 9px 314px;
  border: 1px solid #ddd;
  margin: 10px 0;
  min-height: 224px;
  text-shadow: #fff 0 1px 0;
}
.theme-selector img {
  clip: rect(0px, 294px, 219px, 0);
  height: auto;
  left: 10px;
  position: absolute;
  top: 10px;
  width: 294px;
}
.theme-selector .operations a {
  margin-right: 20px;
}
.system-themes-list-disabled .theme-selector {
  background: #eee;
  color: #676767;
  padding: 9px 9px 9px 220px;
  min-height: 110px;
}
.system-themes-list-disabled .theme-selector {
  width: 300px;
  float: left;
  min-height: 140px;
}

.system-themes-list-disabled .theme-selector img {
  width: 142px;
}
/* admin/content/node & admin/user/user */
.exposed-filters .form-item label {
  float: left;
  width: 120px;
}
.exposed-filters .additional-filters {
  padding: 5px;
  font-size: 11px;
  color: #666;
}
/* Update options. */
.admin-options {
  background: #f8f8f8;
  line-height: 30px;
  height: 30px;
  padding: 9px;
  border: 1px solid #ddd;
  margin: 0 0 10px;
}
.admin-options label,
.admin-options .form-item {
  margin-right: 10px;
  float: left;
}
.admin-options .form-item {
  padding: 0;
  border: 0;
}
/* Dependency colors. */
.admin-dependencies,
.admin-required {
  color: #666;
}
.admin-disabled {
  color: #900;
}
.admin-enabled {
  color: #099;
}
.admin-missing {
  color: #c30;
}
/* Progressbar styles. */
.progress .bar {
  -webkit-box-shadow: inset #ddd 0 1px 3px;
     -moz-box-shadow: inset #ddd 0 1px 3px;
          background: #eee;
  border: 1px solid #ccc;
}
.progress .filled {
  background: #666;
}
/* Help pages. */
.help-items {
  float: left; width: 25%;
}
.help-items ul {
  margin: 10px 5px;
}
/* UI autocomplete element. We will have to force the z-index value because the
core will set an inline style value to this element and it will not play well on
pages where a fieldset is right under such element because of different z-index
value. This is most notable on Rules pages when the data selection mode for a
field is enabled. */
ul.ui-autocomplete.ui-menu {
  z-index: 11!important;
}
/* Action links. */
.action-links a {
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  margin: 0 5px 0 0;
  padding: 0 5px 0 25px;
  background: #999 url(../images/buttons.png) -800px 50% no-repeat;
  color: #fff;
  text-shadow: #666 0 1px 0;
}
.action-links a:active {
  color: #222;
  background-color: #666;
  background-position: -1200px 50%;
  text-shadow: #999 0 1px 0;
}
/* Color module fix. */
#palette .form-item {
  width: 20em !important;
  height: 2em;
  line-height: 2em;
  margin: 0.5em 0;
  padding: 0.2em;
}
#palette .lock {
  z-index: 2;
}
.page-content .color-form .form-item:hover {
  height: 2em;
}
/* Panels stylizer color fix. */
div.ctools-modal-content #palette .form-item label {
  clear: none;
  float: left;
  width: 14em;
}
div.ctools-modal-content .color-form .form-item input {
  margin-top: 0;
}
/**
 * ORPHANED MARKUP ====================================================
 * The following selectors target markup generated by Drupal that have
 * exactly 1 or extremely few instances. It will make a great future
 * hitlist of markup to consolidate and generalize.
 */
.compact-link {
  font-size: 11px;
  height: 20px;
  margin: 0 0 10px;
}
.compact-link a {
  float: left;
  line-height: 18px;
  padding: 0 9px;
  border: 1px solid #ddd;
  color: #666;
  background: #fff;
}
/* System end */

/*******************************************************************************
 * Form description exceptions
 *
 * Some form elements are either too weirdly positioned or really benefit
 * from persistent descriptions. Reset for all of these.
 ******************************************************************************/
.page-content .form-item-files-feeds,
.page-content .form-item-files-feeds .description,
.ctools-export-ui-row .form-item,
.ctools-export-ui-row .form-item .description,
.multiselect .form-item,
.multiselect .form-item .description,
.page-content table .form-item,
.page-content table .form-item .description,
.page-content .form-item .widget-edit .description,
#upload-attachments .description,
#views-ajax-pad .form-item,
#views-ajax-pad .form-item .description {
  width: auto;
  padding: 0;
  margin: 0;
  border: 0;
  background: transparent;
  position: static;
  display: block;
}
.page-content .form-item-files-feeds:hover,
.ctools-export-ui-row .form-item:hover,
.multiselect .form-item:hover,
.page-content table .form-item:hover,
#views-ajax-pad .form-item:hover {
  position: static;
}
.page-content .form-item-files-feeds .description,
.page-content table .form-item .description,
#upload-attachments .description,
#views-ajax-pad .form-item .description {
  padding: 0;
  color: #666;
  display: block;
  max-width: none;
}
/* Form description exceptions end */

/*******************************************************************************
 * Vertical tabs
 ******************************************************************************/
.vertical-tabs {
  background: #fff url(../images/vtabs.png) 0 0 repeat-y;
  border: 1px solid #ddd;
  margin: 0 0 10px;
  position: relative;
}
.vertical-tabs .fieldset-content,
.vertical-tabs fieldset.titled .fieldset-content {
  border: 0;
  padding: 10px;
}
.vertical-tabs .fieldset-content .fieldset-content {
  margin-top: 20px;
}
.vertical-tabs-list li a {
  display: block;
  text-shadow: #fff 0 1px 0;
  padding: 5px 10px 4px 10px;
  border-bottom: 1px solid #ddd;
  color: #666;
}
.vertical-tabs-list .selected a {
  background: #fff;
  color: #333;
}
.vertical-tabs-list .summary {
  font-size: 11px;
}
.vertical-tabs .vertical-tabs-panes .vertical-tabs-pane .fieldset legend {
  display: block;
}
.vertical-tabs .vertical-tabs-panes .vertical-tabs-pane fieldset.collapsible {
  border: 1px solid #CCCCCC;
  margin: 1em 0;
  position: relative;
  padding-top: 0;
}
/* Vertical tabs end */

/*******************************************************************************
 * Display suite
 ******************************************************************************/
.field-formatter-settings-edit-form.ds-ft-processed {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0.5em 1em 0;
}
.field-formatter-settings-edit-form.ds-ft-processed .ft-group {
  overflow: auto;
  margin-bottom: 1em !important;
  border-bottom: 1px solid #CCC;
}
.field-formatter-settings-edit-form.ds-ft-processed .ft-group.fi {
  border-bottom: 0;
}
.field-formatter-settings-edit-form.ds-ft-processed .ft-group > .form-item {
  margin: 0.25em 1em 0.5em 0 !important;
}
.field-formatter-settings-edit-form.ds-ft-processed .ft-group > .form-item .description {
  max-width: 120px !important;
}
.field-formatter-settings-edit-form.ds-ft-processed .ft-group > .form-item.form-type-checkbox {
  clear: both;
  margin-right: 0 !important;
}
.field-formatter-settings-edit-form.ds-ft-processed .ft-group.ow .form-type-textfield,
.field-formatter-settings-edit-form.ds-ft-processed .ft-group.fis .form-type-textfield,
.field-formatter-settings-edit-form.ds-ft-processed .ft-group.fi .form-type-textfield {
  clear: left;
}
.field-formatter-settings-edit-form.ds-ft-processed .ft-group.ow .form-type-textfield ~ .form-type-textfield,
.field-formatter-settings-edit-form.ds-ft-processed .ft-group.fis .form-type-textfield ~ .form-type-textfield,
.field-formatter-settings-edit-form.ds-ft-processed .ft-group.fi .form-type-textfield ~ .form-type-textfield {
  clear: none;
}
/* Display suite end */

/*******************************************************************************
 * Search API
 ******************************************************************************/
#facetapi-facet-display-form .fieldset-content > .form-item {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
  width: 50% !important;
}
#facetapi-facet-display-form .fieldset-content .facetapi-sort-table {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 0 !important;
  position: static !important;
  width: 50% !important;
  z-index: 1 !important;
}
/* Search API end */

/*******************************************************************************
 * Admin toolbar
 ******************************************************************************/
body.tao #admin-toolbar a.menu-hover span.menu-description {
  padding-left: 50px;
}
body.tao #admin-toolbar a.menu-hover span.menu-description span.icon {
  position: absolute;
  left: 10px;
  top: 0;
}
/* Admin toolbar end */

/*******************************************************************************
 * Sidebar scroll
 ******************************************************************************/
#content .column-side .column-wrapper {
  padding-bottom: 5px;
}
#content .column-side .column-wrapper.fixed {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  position: fixed;
  top: 5px;
  z-index: 11;
  /* Necessary to avoid overlap with the left column upon scrolling. */
  margin-left: 1px;
}
.admin-menu #content .column-side .column-wrapper.fixed {
  top: 40px;
}
/* Sidebar scroll end */

/*******************************************************************************
 * Watchdog/dblog
 ******************************************************************************/
#admin-dblog td {
  border-color: #ccc;
}
#admin-dblog .dblog-notice td,
#admin-dblog .dblog-notice .active {
  background-color: #ECF8FC;
}
#admin-dblog .dblog-info td,
#admin-dblog .dblog-info .active {
  background-color: #DFF2BF;
}
#admin-dblog .dblog-warning td,
#admin-dblog .dblog-warning .active {
  background-color: #FEEFB3;
}
#admin-dblog .dblog-error td,
#admin-dblog .dblog-error .active {
  background-color: #FFBABA;
}
/* Watchdog/dblog end */

/*******************************************************************************
 * Breakpoints
 ******************************************************************************/
#breakpoints-admin-breakpoints #edit-buttons input,
#breakpoints-admin-breakpoints #edit-buttons a {
  margin-bottom: 1em;
  margin-right: 1em;
}
.breakpoints-group-operations-link {
  display: inline-block;
  cursor: pointer;
  padding: 3px 10px;
  color: #333;
  font-size: 13px;
  text-align: center;
  font-weight: normal;
  border-width: 1px;
  border-style: solid;
  border-color: #ddd #ddd #ccc;
  background: #fff url(../images/buttons.png) -1px 50% no-repeat;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: #ddd 0 1px 1px;
     -moz-box-shadow: #ddd 0 1px 1px;
          box-shadow: #ddd 0 1px 1px;
}
.breakpoints-group-operations-link:hover {
  border-color: #ace;
  -webkit-box-shadow: #ace 0 0 5px;
     -moz-box-shadow: #ace 0 0 5px;
          box-shadow: #ace 0 0 5px;
}
.breakpoints-group-operations-link:active {
  border-color: #666 #666 #555;
  background: #666 url(../images/buttons.png) -401px 50% no-repeat;
  color: #222;
  text-shadow: #999 0 1px 0;
}
/* Breakpoints end */

/*******************************************************************************
 * Media
 ******************************************************************************/
.page-media-browser {
  overflow: hidden;
}
.page-media-browser #block-system-main {
  border: none;
}
.media-widget .preview {
  background-color: #CCC;
  min-width: 50px;
  min-height: 50px;
}
.media-widget .preview .media-item {
  margin: 0;
}
.media-widget .preview.launcher > .form-item {
  padding: 0; border: 0;
}
.media-widget.form-wrapper {
  margin-bottom: 0;
}
.media-widget > .form-item:last-child {display: none;}
.field-widget-media-generic > div > .form-item {
  border: 0;
  padding: 0;
}
.field-widget-media-generic .field-multiple-table thead .field-label {
  padding-left: 5px;
}
.media-item .label-wrapper label {
  display: block;
}
#media-browser-page {
  overflow: hidden;
}
#media-browser-page .form-actions {
  margin-bottom: 0;
}
#media-browser-tabset {
  border: none;
}
#media-browser-tabset #branding {
  padding: 8px 10px 2px 10px; height: 20px;
}
#media-browser-tabset #branding h1 {
  margin-top: -3px;
}
#media-tabs-wrapper .tabs.primary {
  margin-right: 10px;
}
.media-browser-tab.ui-tabs-panel {
  border: none; padding-bottom: 0;
}
.view-media-default #edit-filename-wrapper {
  max-width: 200px;
}
/* Media end */


/*******************************************************************************
 * Other contrib modules
 ******************************************************************************/
/* CTools */
td.ctools-export-ui-operations {
  position: relative;
}
/* Administration Menu. */
#admin-menu-wrapper {
  overflow: visible;
}
#admin-menu .admin-menu-search .form-item {
  border: 0;
}
#admin-menu .admin-menu-search input.admin-menu-search {
  height: 19px;
  padding: 0 5px;
  border-radius: 0;
}
#admin-menu .dropdown .admin-menu-search-results {
  top: 21px;
}
body.adminimal-menu #admin-menu .dropdown .admin-menu-search-results {
  top: 29px;
}
#admin-menu .dropdown li ul,
#admin-menu .dropdown li li {
  width: 160px!important;
}
/* Adminimal Administration Menu. */
body.adminimal-menu {
  margin-top: 29px!important;
}
body.adminimal-menu .admin-menu-search > .form-item {
  border: none;
  position: static;
}
#admin-menu .admin-menu-search input,
body.adminimal-menu #admin-menu-search input[type="text"] {
  height: 28px;
  padding-top: 0;
  padding-bottom: 0;
  width: 160px;
}
body.adminimal-menu #admin-menu-search input[type="text"]:hover,
body.adminimal-menu #admin-menu-search input[type="text"]:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0;
     -moz-box-shadow: 0 0 0;
          box-shadow: 0 0 0;
}
body.adminimal-menu #admin-menu-search input[type="text"]:focus {
  background: #666;
}
/* Date. */
fieldset.date-combo .container-inline-date .date-padding {
  padding: 0;
}
fieldset.date-combo .container-inline-date > .form-item {
  margin-bottom: 0;
}
/* Rooms. */
.rooms-unit-type-defaults .fieldset-content .form-wrapper {
  margin-top: 0;
}
.rooms-unit-type-defaults .fieldset.titled > .fieldset-content,
.rooms-unit-type-defaults .container-inline .fieldset-legend .fieldset-content {
  padding-top: 20px;
}
.rooms-unit-type-defaults .rooms-unit-type-guest-capacity {
  margin: 0 20px 0 0;
}
.rooms-unit-type-defaults .rooms-unit-type-child-capacity .fieldset-legend,
.rooms-unit-type-defaults .rooms-unit-type-guest-capacity .fieldset-legend {
  background: none;
  color: #666;
}
/* Other contrib modules end */
